@import "tailwindcss";

@font-face {
  font-family: "Drippy";
  src: url("/fonts/DrippyMessage.ttf");
}

@font-face {
  font-family: "Shiny";
  src: url('/fonts/ShinyBalloonDemoRegular.ttf');
}


#grime{
  font-family: "Drippy"
}

#shine{
  font-family: "Shiny"
}